# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
Sesion-1-Ambiente/UPCFramework/Debug/
Sesion-1-Ambiente/Sesion-1-Ambiente/Debug/Sesion-1.0579FDD4.tlog/link.write.1.tlog
Sesion-1-Ambiente/Sesion-1-Ambiente/Debug/
*.db
